.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ollama-model-link/FileContentIndex/e826147a-7b5c-4de6-a6e4-3bd9165e8b8e.vsidx
.vs/ollama-model-link/v17/.wsuo
.vs/ollama-model-link/v17/DocumentLayout.json
